:root {
  /* Very dark blue (main background) */
  --color-primary-dark: hsl(233, 47%, 7%);
  /* Dark desaturated blue (card background) */
  --color-primary-darker: hsl(244, 38%, 16%);
  /* Soft violet (accent) */
  --color-primary-accent: hsl(277, 64%, 61%);

  /* White (main heading, stats)  */
  --color-secondary-white: hsl(0, 0%, 100%);
  /* Slightly transparent white (main paragraph) */
  --color-secondary-white-transparent: hsla(0, 0%, 100%, 0.75);
  /* Slightly transparent white (stat headings) */
  --color-white-transparent: hsla(0, 0%, 100%, 0.6);

  --font-family-bold: "Inter", sans-serif;
  --font-family-regular: "Lexend Deca", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  color: var(--color-secondary-white);
  background: var(--color-primary-dark);
  font-family: var(--font-family-regular);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.stats-card {
  max-width: 20.4375rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: var(--color-primary-darker);
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.2);
}

.stats-card__content {
  text-align: center;
  display: grid;
  gap: 1rem;
  padding: 2rem;
}

.image-container {
  background-color: var(--color-primary-accent);
  mix-blend-mode: multiply;
  opacity: 0.7511;
}

picture {
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.stats__header-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.stats-card__title {
  color: var(--color-secondary-white);
  font-family: var(--font-family-bold);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
}

.stats-card__title span {
  color: var(--color-primary-accent);
  font-style: normal;
}

.stats-card__description {
  color: var(--color-secondary-white-transparent);
  font-family: var(--font-family-bold);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 1.5625rem;
  margin-top: 1rem;
}

.flex-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2.5rem;
}

.flex-group__numbers {
  color: var(--color-secondary-white);
  font-family: var(--font-family-bold);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
}

.flex-group__description {
  color: var(--color-secondary-white-transparent);
  font-family: var(--font-family-regular);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: var(--font-family-regular);
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  .stats-card {
    max-width: 69.375rem;
    flex-direction: row-reverse;
  }

  .stats-card__content {
    width: 52%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .stats__header-image img {
    height: 100%;
    object-fit: cover;
  }

  .stats-card__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-top: 4.5rem;
    margin-left: 4.45rem;
  }

  .stats-card__description {
    margin-top: 1.56rem;
    padding-left: 4.47rem;
    margin-right: 4rem;
  }

  .flex-group {
    flex-direction: row;
    gap: 3.8rem;
    padding-top: 4.5rem;
    padding-left: 4.5rem;
    padding-bottom: 2.69rem;
    margin-right: 4rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution {
  color: var(--color-primary-accent);
}
.attribution a {
  color: var(--color-secondary-white);
}
